{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>{{abc.province}}</title>
{% endblock %}


{% block main-content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            {% for msg in messages %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}

            {% endfor %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>District</th>
                    <th> district Description</th>
                    <th> district image</th>
                    <!-- <th>location name</th>
                    <th>Description</th>
                    <th>location image</th> -->
                </tr>
                {% for data in province_inf %}
                <tr>
                    <td>{{data.district.district_name}}</td>
                    <td>{{data.district.district_desc}}</td>
                    <td>
                        {% for districtimg in data.district.district_images.all %}
                        <img src="{{districtimg.image.url}}" alt="" width="100">
                        {% endfor %}
                    </td>
                    <!-- <td>{{location.location_name}}</td>
                    <td>{{location.location_desc}}</td>
                    <td>
                        {% for i in location.location_images.all %}
                        <img src="{{i.image.url}}" alt="" width="100">
                        {% endfor %}
                    </td> -->
                    
                    

                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

    

    <!-- <img src="{% static 'images/a.jpg' %}" alt="" width="400"> -->
    
{% endblock %}
    
