{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>All Places</title>
{% endblock %}


{% block main-content %}


<!-- {% for product in Products %} -->
<!-- <h1> Product Name: {{product.project_name}}</h1>
<h1>Product Price: {{product.product_price}}</h1>
<img src="{{product.product_image}}" width="300">

{% endfor %} 

<img src="{% static 'images/i1.jpg' %}" alt="" width="500"> -->

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            {% for msg in messages %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" >
                {{msg}}
            </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" >
                {{msg}}
            </div>
            {% endif %}

            {% endfor %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Place Name</th>
                    <th>Place Description</th>
                    <th>Category</th>
                    <th>place Image</th>
                    <th style="padding: 0 20px;">Action</th>
                    

                </tr>
      
                {% for place in places %}
                <tr>
                    <td>{{place.place_name}}</td>
                
              
                    <td>{{place.place_description}}</td>
                    <td>{{place.Category}}</td>
            
                    <td><img src="/{{place.place_image}}" alt="{{place.place_images}}" width="100"></td>

                    <td><a href="/pages/updateplace/{{place.id}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        
                        <a href="/pages/deleteplace/{{place.id}}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this product?')"><i class="fa-solid fa-trash"></i></a>
                    </td>
                

                </tr>
                {% endfor %}
             

                
            </table>
        </div>
    </div>
</div>

{% endblock %}