{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Places</title>
{% include 'userpage/header.html' %}
{% endblock %}


{% block main-content %}

<!-- <br><br><br><br><br><br> -->
<!-- start of place page -->
<div class="container my-3">
    <div class="row row-cols-1 row-cols-md-4 g-4 pt-5">
       
        {% for place in places %}
        <div class="col">
            <div class="card">
                <img src="/{{place.place_image}}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h3 class="card-title">{{place.place_name}}</h3>
                    <h5 class="card-title text-primary fs-6"><i>{{place.Category}}</i></h5>

                    <a href="/placedetails/{{place.id}}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        

<!-- end of place page  -->

{% include 'userpage/footer.html' %}
{% endblock %}